.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0px 160px;
  grid-gap: 40px;
  margin: 80px 0px;
}

.serviceBox {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.serviceIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #f4e5e0;
  border-radius: 50%;
  margin-bottom: 20px;
  color: #c22928;
}

.services h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 15px 0;
  color: #1b1b1b;
}

.services p {
  text-align: center;
  color: #767676;
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
}

@media screen and (max-width: 1210px) {
  .services {
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .services {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  
  .serviceIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 450px) {
  .services {
    padding: 0px 15px;
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  
  .serviceIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  
  .services h3 {
    font-size: 16px;
  }
  
  .services p {
    font-size: 13px;
  }
}