.Contact-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contactSection h2 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
  padding-left: 250px;
}

.contactMap {
  padding: 0 250px;
}

.contactMap iframe {
  width: 100%;
  border: none;
  background-color: #e4e4e4;
}

.contactInfo {
  padding: 0 250px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contactAddress {
  display: flex;
  gap: 80px;
  margin-top: 50px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.address h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.address p {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 20px;
}

.contactDetails h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1b1b1b;
  margin-bottom: 5px;
}

.contactDetails p {
  margin: 0;
  color: #666;
}

.contactForm {
  width: 50%;
}

.contactForm h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactForm form input {
  padding: 15px;
  border: 2px solid #e4e4e4;
  color: #272727;
  outline-color: black;
  font-size: 14px;
  font-family: inherit;
}

.contactForm form textarea {
  font-size: 14px;
  padding: 15px;
  border: 2px solid #e4e4e4;
  color: #272727;
  outline-color: black;
  font-family: inherit;
  resize: vertical;
}

.contactForm form button {
  width: 20%;
  background-color: black;
  color: white;
  border: none;
  padding: 20px 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm form button:hover {
  background-color: #333;
}

@media screen and (max-width: 1210px) {
  .contactSection h2 {
    padding: 30px 60px;
  }

  .contactMap {
    padding: 0 60px;
  }

  .contactInfo {
    padding: 0 60px;
  }

  .contactAddress {
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .contactAddress {
    flex-direction: column;
    gap: 40px;
  }

  .address {
    width: 100%;
  }

  .contactForm {
    width: 100%;
  }

  .contactForm form button {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  .contactSection h2 {
    padding: 30px 15px;
    font-size: 28px;
  }

  .contactMap {
    padding: 0 15px;
  }

  .contactInfo {
    padding: 0 15px;
  }

  .contactAddress {
    gap: 30px;
    margin-top: 30px;
  }

  .contactForm form button {
    width: 50%;
    padding: 15px 5px;
  }

  .contactForm h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .address h3 {
    font-size: 22px;
  }
}